{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <button>Login</button>
</form>

{% endblock content %}