{% extends 'base.html' %}

{% block content %}

<h1>Signup</h1>
<form method="post">
    {% csrf_token %}
    <p>Username: <input type="text" name="username">
        Required. 150 characters or fewer. Letters, digits and @/+-_ only.
    </p>
    <p>Password: <input type="password" name="password1"></p>
    <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
    </ul>
    <p>Password confirmation: <input type="password" name="password2">
        Enter the same password as before, for verification.
    </p>
    <button>Signup</button>
</form>

{% endblock content %}