{% extends 'base.html' %}

{% block content %}
<h1>Create a new task</h1>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <!-- <input type="text" name="name">
    <input type="text" name="start_date">
    <input type="text" name="due_date">
    <select name="project"></select>
    <select name="assignee"></select>
I think form.as_p just does this, so commenting out-->
    <button>Create</button>
</form>

{% endblock content %}